{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "curly": "error",
    "indent": ["error", 2],
    "max-len": [ "error",  { "code": 140 }],
    "@typescript-eslint/member-ordering": [
      "error",
      {
        "default": [
          "static-field",
          "instance-field",
          "static-method",
          "instance-method"
        ]
      }
    ],
    "no-empty": "error",
    "@typescript-eslint/no-inferrable-types": ["error",  {  "ignoreParameters": true }],
    "@typescript-eslint/no-confusing-non-null-assertion": "error",
    "quote-props": [
      "error",
      "as-needed"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "space-before-function-paren": ["error",
      {
        "anonymous": "never",
        "asyncArrow": "always",
        "named": "never"
      }
    ],
    "@typescript-eslint/typedef": [
      "error",
      {
        "arrowParameter": true,
        "parameter": true
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "error"
  }
}

