.add-post
  border-bottom: 3px solid $theme-black
  button
    background: $theme-lime
    color: $theme-black
    padding: 5px 0
    width: 150px
    margin: 10px auto
    font:
      family: 'Montserrat', 'Helvetica Neue', sans-serif
      size: 18px
      weight: bold
    transition: all 0.3s ease-in-out
    &:hover 
      cursor: pointer
      background: $theme-black
      color: $theme-lime
      border: 2px solid $theme-lime
      transform: scale(1.10)
