.app-header
  position: relative
  background: $theme-white
  color: $theme-black
  padding: 20px 50px
  height: 400px

.header-h1
  margin-top: 100px
  font:
    family: Montserrat
    size: 3.5em
  text-align: center
  letter-spacing: 4.5px
  text-transform: uppercase

.app-nav 
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  .navTabs,
  .sideTabs
    padding: 0 15px
    list-style: none
    transition: all 0.3s ease-in-out
    &:hover
      cursor: pointer
      background: $theme-white
      border: 3px solid $theme-black
      transform: scale(1.05)
      a 
        color: $theme-black
        font-weight: bold
    a
      width: 75px
      color: $theme-white
      font-size: 16px
      text-transform: uppercase
      text-decoration: none
      letter-spacing: 2px

.app-side-nav
  @extend .app-nav

.read-more 
  display: inline-block
  background: $theme-lime
  color: $theme-black
  padding: 2px 10px
  text-decoration: none
  &:hover 
    transform: scale(1.08)
    font-weight: bold

.section-title
  color: $theme-lime
  font: 
    weight: bold 
    size: 3em
  text-align: center
  text-transform: uppercase
  letter-spacing: 4.5px

.left-img
  float: left
// Media

@media(max-width: 760px) 
  .app-nav
    flex-direction: column
    .navTabs
      display: none
    .sideTabs
      width: 75px
    .--hamburger
      display: block
    .show 
      display: initial 

  .app-side-nav li:first-of-type
    margin-top: 10px

  .card-wrapper
    flex-direction: column
    .card
      margin: 20px 10px